<div class="container">
  <div class="row">

    <%= render 'books/list', book: @book, user: @user %>
    <!-- 共通部分テンプレート -->


    <div class="col-xs-9">
      <h2>Users</h2>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
         <!-- すべてのuser表示 -->
         <% @users.each do |users| %>

          <tr>
            <td>
              <%= attachment_image_tag users, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
            </td>
            <td>
              <%= users.name %>
            </td>
            <td>
              <%= link_to "Show",user_path(users.id) %>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>