/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';


 .navbar {
    margin-bottom: 0px;
 }
 .navbar-fixed-top {
    position: static;
 }
 .title-text {
    font-size: 20px;
    color: white;
 }
 li {
    font-size: 13px;
 }
.glyphicon {
	font-family: 'Glyphicons Halflings';
}
p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
}
a:visited {
	color: #666;
}
li {
	display: inline-block;
}

li span {
	padding-top: 15px;
	padding: 10px 15px;
}

div.field, {
	margin-bottom: 10px;
}
label {
	margin-right: 15px;
}
.actions {
	margin-bottom: 10px;
}
.error_explanation {
	color: red;
	font-size: 20px;
	padding-bottom: 15px;
}
.successfully {
	font-size: 20px;
}


#container-1 {
	height: 300px;
}
.image1 {
background-image: url(11b06a7d.jpg);
}
.image2 {
background-image: url(597eeeff.jpg);
}
.image3 {
background-image: url(1024x768x3f93da36e4dcc70910e18ac.jpg);
}
.image4 {
background-image: url(1024x768x853b031a43495200d111d6f.jpg);
}
.image5 {
background-image: url(1920x1200x09076665005810ddd8db00.jpg);
}

.sm-s {
	float: right;
}

.row .btn-primary {
	color: white;
}

.search-form {
	text-align: center;
	padding-top: 10px;
}

.chatname {
	text-align: center;
}
.chattop {
	width: 100%;
	height: 110px;
	background-color: orange;
}
.chatbox {
	margin: 30px auto;
	width: 50%;
}
.content {
	padding-top: 20px;
}